.info_detail_card .card-container,.spc-detail-card .card-container{
	height: 100%;
	padding:40px;
	box-sizing:border-box;
	
}

.userInfo .info_detail_card{
	height: 180px;
	padding: 20px 10px
}

.card-container{
	height: auto	
}

.userInfo .info_detail_left{
	padding-left: 20px
}

.userInfo .info_detail_right{
	padding-right:20px
}

.userInfo .spc-detail-card{
	padding: 20px;
	height: 180px;
	margin-left: 0;
}

.layui-card .card-head{
	display: flex;
	justify-content: space-between;
	color: #747474
}



.more_btn{
	color: #4A90E2
}

.more_btn:hover{
	color: #0080ff;
	cursor:pointer
}